fastapi>=0.104.1
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic>=2.4.2
pydantic-settings>=2.0.3
python-multipart
langchain
faiss-cpu
openai
PyPDF2
requests
python-dotenv
